<!DOCTYPE html>
<html>
<head>
  <title>RailsEs6Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'system.js/system.src.js' %>
  <%= csrf_meta_tags %>

  <script>
    System.config({
      defaultJSExtensions: true,
      baseURL: "assets/",
      meta: {
        "react": {
          format: "global"
        }
      },
      paths: {
        "react": "vendor.js"
      }
    });
  </script>

  <%= javascript_include_tag 'bundles' %>
</head>
<body>

<%= yield %>

</body>
</html>
