<!DOCTYPE html>
<html>
<head>
  <title>RailsEs6Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'system' %>
  <%= csrf_meta_tags %>

  <script>
    // Default to loading from "assets"
    System.config({
      baseURL: "/assets"
    });

    // Define bundles
    System.config({
      defaultJSExtensions: true,
      bundles: {
        "app": ["app/main", "app/geom", "app/math"]
      }
    });
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
